5<!DOCTYPE html>
<html>
<head >
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../plugins/css/bootstrap.css"/>
        <link rel="stylesheet" href="../../plugins/css/public.css"/>
        <link rel="stylesheet" href="../../plugins/css/style.css"/>
      <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="sje/plugins/bootstrap/css/public.css">
      <link rel="stylesheet" href="sje/plugins/bootstrap/css/style.css">
	<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>蒂芙尼蛋糕官网</title>
    
</head>
<body>	

	<nav class="navbar navbar-default" role="navigation">
				    <div class="container-fluid"> 
					    <div class="navbar-header">
					        <button type="button" class="navbar-toggle" data-toggle="collapse"
					                data-target="#example-navbar-collapse">
					            <span class="sr-only">切换导航</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					        </button>
					        <a class="navbar-brand" href=" ">蒂芙尼蛋糕官网|TIFFANY CAKE</a >
					    </div>
					    <div class="collapse navbar-collapse" id="example-navbar-collapse">
					        <ul class="nav navbar-nav navbar-right">
					            <li class="active"><a href="#">首页</a ></li>
								<li><a href="#">产品介绍</a ></li>
					            <li><a href="#">制作方式</a ></li>					      
					            <li><a href="#">帮助中心</a ></li>
					            <li><a href="#">关于我们</a ></li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					                    	其它 <b class="caret"></b>
					                </a >
					                <ul class="dropdown-menu">
					                    <li><a href="#">搜索产品</a ></li>
					                    <li class="divider"></li>
					                    <li><a href="#">留言板</a ></li>
					                    <li><a href="#">投诉</a ></li>
					                    <li class="divider"></li>
					                    <li><a href="#">企业试吃</a ></li>
					                    <li class="divider"></li>
					                    <li><a href="#">配送范围</a ></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
				    </div>
				</nav>

<!--头部-->
  

<!--主体内容-->


    <section class="publicMian ">
        <div class="left">
          	<nav>
				<ul class="list">
					<li>
						<h5>配送范围</h5></br>
						<h6><a href="beijing.html">北京</a></h6></br>
						<h6><a href="beijing.html">天津</a></h6></br>
						<h6><a href="beijing.html">上海</a></h6></br>
						<h6><a href="beijing.html">杭州</a></h6></br>
						<h6><a href="beijing.html">苏州</a></h6></br>
						<h6><a href="beijing.html">杭州</a></h6></br>
					</li>
		
				</ul>
			</nav>  
  
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>配送范围说明</span>
            </div>
  <div class = "content-box article clearfix">
            <div class="article-right">
                <div class="article-title">
                    <h2>配送范围说明</h2>
                </div>                           
                <div class="article-body">
                	<h1 style="TEXT-ALIGN: center; FONT-SIZE: 24px">全国配送区域说明及示图</h1>
                	<p style="TEXT-INDENT: 0px"><strong><p name="2" ,id="2">一、配送服务费</p></strong>
<p name="2" ,id="2">现有配送城市：北京/ 天津/ 上海/ 杭州/ 苏州/ 无锡/ 广州/ 深圳</p>
<p name="2" ,id="2">单笔订单金额&lt;100元，配送服务费12元；</p></p>
<p name="2" ,id="2">单笔订单金额</p><p name="2">
	<span style="FONT-FAMILY: 宋体; FONT-SIZE: 12pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"></span></p><p name="2"><span style="FONT-FAMILY: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt; mso-bidi-font-size: 10.5pt"></span><span style="mso-bidi-font-size: 10.5pt" lang="EN-US"></span></a><a name="2" ,id="2"></a><a name="2" ,id="2"><span style="FONT-FAMILY: 宋体; FONT-SIZE: 9pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">≧</span><span style="FONT-SIZE: 9pt" lang="EN-US"></span></a><a name="2" ,id="2"> 100元，免收配送服务费。<span lang="EN-US"></span></a></p>
 <p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"><br/></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2"><strong>二、配送范围</strong><br/></p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2">（一）北京：</p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2">配送区域：六环以内；</p></p>
 <p style="TEXT-INDENT: 0px"><p name="2" ,id="2">配送时间：五环内：9:30-22:00点；五环外-六环内：10:00-21:00；</p></p>
 示图：<br/> 
<img alt="北京蛋糕配送范围示意图" src="../../img/beijing.jpg"> 
	<p style="TEXT-INDENT: 0px"><p name="3" ,id="3">（二）北京：</p></p>
 <p style="TEXT-INDENT: 0px"><p name="3" ,id="3">配送区域：快速路以内；快速路以外—绕城公路以内；</p></p>
 <p style="TEXT-INDENT: 0px"><p name="3" ,id="3">配送时间：10:00-19:00；</p></p>
 <p style="TEXT-INDENT: 0px">示图：</p>
 
<img alt="天津蛋糕配送范围示图A" src="../../img/tianjing.jpg"> <p>配送区域：天津滨海新区-塘沽：西至西中环快速-北至京津高速-东至海滨高速-南至海河，</p>
 <p>配送时间：10:00~19:00；</p>
 <p>示图：</p>
 
<img alt="天津蛋糕配送范围示意图B" src="../../img/tianjing.jpg"> <p name="1" ,id="1">（三）上海：</p></p>
 <p style="TEXT-INDENT: 0px"><p name="1" ,id="1">配送区域：A30以内（金山区除外）</p></p>
 <p style="TEXT-INDENT: 0px"><p name="1" ,id="1">配送时间：</p></p>
 <p style="TEXT-INDENT: 0px"><p name="1" ,id="1">A、A20外环以内：9:30-22:00；</p></p>
 <p style="TEXT-INDENT: 0px"><p name="1" ,id="1">B、A20-A30之间：10:00-22:00；</p></p>
 <p style="TEXT-INDENT: 0px">C、<strong><font color="#990000">奉贤、泖港、叶榭、嘉定城区等在A30附近或较远区域：10:40-16:30；（黄色区域范围）</font></strong></p>
 <p style="TEXT-INDENT: 0px">D、<font color="#990000"><strong>宝山区扩大配全区支持配送（部分封闭区域除外，以系统判断为准）</strong></font></p>
<p style="TEXT-INDENT: 0px">注：<strong><font color="#990000">浦东机场及金山区部分区域无法配送，如有疑问请致电：400-650-2121</font></strong><font color="#990000"><strong></strong></font></p>
 <p>示图：</p>
 &nbsp; 
<img src="../../img/shanghai.jpg">
<p name="4" ,id="4"><br/><br/>（四）杭州：</p> <p><p name="4" ,id="4">配送区域：</p>杭州绕城高速以内、东至钱塘江、南至杭州绕城高速、西至杭州绕城高速、北至杭州绕城高速，绕城以外还可以配送杭州市萧山国际机场以内、临平地铁站A出口自提、未来科技城板块（东至杭州绕城高速、南至文二西路以北、西至云溪路以东、北至仓前站铁路延线以南。）</p>
 <p>配送时间：10:00-19:00</p>
 <p>示图：</p>6
 &nbsp; 
<img src="../img/hangzhou.png"> <p style="TEXT-INDENT: 0px"><p name="6" ,id="6">（五）苏州：</p></p>
 <p>配送区域：</p>
 <p>A、苏州绕城高速内；</p>
 <p>B、阳澄湖区（西至常台高速-北至绕城北线-东至阳澄湖-南至京沪高速）、木渎区（西至绕城西线-北至太湖大道-东至金枫路-南至宝带西路）、吴中区（西至绕城西线-北至宝带西 路-东至友新快速路-南至绕城南线）；</p>
 <p>配送时间：10:00-19:00；</p>
 <p>示图：</p>
 &nbsp; 
<img alt="苏州蛋糕配送范围示意图" src="../../img/suzhou.jpg" >
<br/> 
 <p>1. 颜色覆盖区为配送区域；</p>
 <p> </p></div>
            </div>
        </div>
    </div>




			

          

        </div>
    </section>


<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeUse">
    <div class="removerChid">
        
        </div>
    </div>
</div>

<div class="container-fluid">
			<div class="row">
				<hr>
			</div>
		</div>
		<div class="footer-copyright">
            <div class="container">
                <p>
                	<p style="text-align: center;">
                    <span>Copyright &copy;2012-2017 蒂芙尼蛋糕官网|TIFFANY CAKE版权所有</span>
                    <span>沪ICP备12045835</span>
                    <span>沪公网安备31010802001150</span>
                    <span></span>
                </p >
            </div>
        </div>
    

<script src="js/jquery.js"></script>
<script src="js/js.js"></script>
<script src="js/time.js"></script>

</body>
</html>