<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
					<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body background="../img/25.png">
		<h1 align="center"><font color="dodgerblue"></font>糕点师介绍</h1>
		<div class="container-fluid" style="margin-top: 50px;">
			<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/26.png">
								<h3 class="text-center">刘德华</h3>
								<p>擅长制作海绵丶戚风蛋糕。多次获得国内糕点制作大赛一等奖。</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/27.png">
								<h3 class="text-center">周星驰</h3>
								<p>主要制作天使丶重油蛋糕。获得著名糕点师沃野·步只岛的指导。</p>
							</div>
						</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="../img/28.png">
								<h3 class="text-center">古天乐</h3>
								<p>我店特色奶酪蛋糕主要制作人，个人拥有国际专利4项。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="../img/29.png">
						<h3 class="text-center">吴彦祖</h3>
						<p>主要制作慕斯蛋糕。制作的蛋糕口感细腻，形态美观，风味独特。多次获得顾客好评。</p>
					</div>
				</div>
			</div>
						<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="../img/30.png">
						<h3 class="text-center">胡歌</h3>
						<p>本店的店长，蛋糕也是他亲自配送。多次获得南京市良好市民奖和劳动模范。</p>
					</div>
				</div>
			</div>
				<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="../img/31.png">
						<h3 class="text-center">彭于晏</h3>
						<p>主要制作天使丶重油蛋糕。获得著名糕点师沃野·步只岛的指导。</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</body>
</html>