<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<!--引入bootstrap.min.css文件-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css" />
	</head>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
				            <span class="sr-only">切换导航</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
						<a class="navbar-brand" href="#">蛋糕做法</a>
					</div>
					<div class="collapse navbar-collapse" id="example-navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<a href="#">步骤</a>
							</li>
							<li>
								<a href="#">工具</a>
							</li>
							<li>
								<a href="#">注意事项</a>
							</li>
							<li>
								<a href="#">个人中心</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									需要食材 <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#"></a>
									</li>
									<li>
										<a href="#">低筋面粉</a>
									</li>
									<li>
										<a href="#">玉米淀粉</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">植物油</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#">鸡蛋</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<body background="../img/5.png">
		<h1><p align="center"><font color="#AC2925">Tiffany蛋糕制作过程</p></h1>
		<div class="row">
			<div id="myCarousel" class="carousel slide">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="../img/22.png" img class="center-block">
					</div>
					<div class="item">
						<img src="../img/21.png" img class="center-block">
					</div>
					<div class="item">
						<img src="../img/23.png" img class="center-block">
					</div>
					<div class="item">
						<img src="../img/24.png" img class="center-block">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<style type="text/css">
					<!-- p {
						text-indent: 2em;
					}
					
					-->
				</style>
				<h2> <p align="center"><font color="#31B0D5">具体步骤</p></h2>
				<ul>
				<li><p>
					<font color="blue">分离蛋黄和蛋清，将其分别放到干净无油无水的大碗中。</font>
				</p></li>
				<li><p>
					<font color="#C7254E">筷子三根，将2~3汤匙的白糖加到蛋清里，再加入一点盐（或者几滴醋或者几滴柠檬汁，随便选一样），朝一个方向划圈打（千万不要换方向啊！），直到打发成硬性泡沫，也就是盆子倒扣蛋白都不会掉下来的状态。这一步非常关键，蛋糕能不能发起来就看它了！！！ 电动打蛋器当然最省力，如果没有就用手动打蛋器（螺旋状最好），如果都没有就用三根筷子打。
					</font>
				</p></li>
				<li><p>
					<font color="blue">将打发的蛋白分二次加到刚才的蛋黄糊里，上下翻拌，切勿划圈，拌匀再加第二次，直到全部拌匀为止；之后用汤匙在拌好的蛋糕糊上划十字，另一手同时转动大碗，这样可以给蛋糕液消泡；如果你够耐心，也可以用牙签一个一个地把泡泡刺破。</font>
				</p></li>
				<li><p>
					<font color="#C7254E">电饭锅内壁抹上薄薄的一层花生油，盖锅盖按煮饭开关，当开关跳闸的时候，将蛋糕糊缓缓倒入锅中，用汤匙抹平，也可以捏住锅胆晃动几下以使其平整（很烫，要用布隔着捏哦）；然后再盖上锅盖，再度按煮饭开关。</font>
				</p></li>
				<li><p>
					<font color="blue">倒入一半量的奶油状的蛋清，注意，上下搅拌而不是打圈。倒入搅拌好的东西，成品就是这样了，然后把气泡都戳破。</font>
				</p></li>
				<li><p>
					<font color="#C7254E">*稍放凉后倒扣出来的蛋糕，朝上的一面在锅里的时候是底部哈，有颜色特别好看。</font>
				</p></li>
				</ul>
				<h2> <p align="center"><font color="crimson">注意事项</p></h2>
				<ul>
				<li><p>
					<font color="red"></font>煮饭开关再跳的时候，不要理它，等15~20分钟左右，再按一次；第三次跳闸后，还是要不理它；约20分钟后打开锅盖，往蛋糕中插一根牙签检测一下，如果牙签可以很干爽地拔出来，说明蛋糕OK了，可以出锅了；（如果牙签比较湿并且带出了点蛋糕沫，又或者你觉得蛋糕表皮不够干爽，那就再按一次煮饭开关，十分钟后出锅。</p></li>
				<li><p>
					<font color=blue></font>注意电饭锅很烫，不要烫伤哦。</p></li>
					</ul>
					<h2> <p align="center"><font color="yellowgreen"><a href="糕点师介绍.html">糕点师介绍</p></h2>
				<!--引入jquery文件-->
				<script src="../plugins/jquery/jquery.min.js" type="text/javascript"></script>
				<!--引入bootstrap.js-->
				<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js"></script>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				<script>
					$(function() {
						$('#myCarousel').carousel({  
							interval: 2000
						})
					})
				</script>
			</div>
		</div>
		</div>
	</body>

</html>